/* Main container styles */
.password-generator-card {
  background-color: var(--theme-light-palette-neutral-bg-weak);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--theme-light-box-shadow-overlay);
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
  overflow: hidden;
}

/* Container padding */
.password-generator__container {
  padding: 24px;
}

/* Header styles */
.password-generator__header {
  font-weight: 600;
  font-size: var(--font-size-subheading-large);
  line-height: 1.75rem;
  letter-spacing: 0.016rem;
  margin-bottom: 1rem;
  display: block;
}

/* Password section */
.password-generator__password-section {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.password-generator__label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: var(--font-size-body-small);
  color: var(--theme-light-palette-neutral-text-weak);
}
/* Input wrapper */
.password-generator__input-wrapper {
  width: 100%;
  position: relative;
}

/* Input field */
.password-generator__input {
  width: 100%;
  padding: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: 1px solid rgb(187, 190, 195);
  border-radius: var(--border-radius-sm);
}

.password-generator__input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.25);
}

/* Copy button "custom" positioned due to issue with rightElement of TextInput */
.password-generator__copy-button {
  position: absolute;
  right: 0.75rem;
  top: 78%;
  transform: translateY(-78%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: var(--z-index-10);
}

/* Slider section */
.password-generator__slider-section {
  margin-bottom: 24px;
}

/* Slider header */
.password-generator__slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

/* Slider title */
.password-generator__slider-title {
  font-size: var(--font-size-subheading-small);
  font-weight: 600;
}

/* Slider value */
.password-generator__slider-value {
  color: var(--theme-light-palette-primary-text);
  font-weight: 600;
}

/* Options section */
.password-generator__options-section {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Generate button container */
.password-generator__generate-button-container {
  display: flex;
  justify-content: center;
}

/* Generate button */
.password-generator__generate-button {
  width: 100%;
  background-color: var(--theme-light-palette-primary-bg-strong);
  color: white;
  border: none;
  border-radius: var(--border-radius-sm);
  padding: 10px 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.password-generator__generate-button:hover {
  background-color: var(--theme-light-palette-primary-hover-weak);
}
